.Comment_Outer_Container {
   display: flex;
   justify-content: center;
   width: 86vmax;
   margin-left: 2rem;
}

.Outter_box {
   list-style-type: none;
   text-align: right;
}


.Comment_Box legend {
   font-size: .7rem;
   color: var(--secondary-text-color);
}


.Image__container {
   width: 20px;
   height: 20px;
}


.block {
   margin: 40px auto;
   text-align: center;
   width: 100%;
   height: 20%;

   font-size: 1.2em;
}
