.Comments__container {
 color: blue;
}

.Inner_Comments__container {
   list-style-type: none;
}

.Image__container {
   background-color: black;
}
.Image__container img {
   height: 45px;
   width: 45px;
}

.User_Tag__container {
   background-color: pink;
}

.User_Tag {
   color: purple;
}

.Single_Comment__container {
   border: 2px solid black;
}

.Single_Comment {
   font-size: 24px;
}
