.navbar_total {
    width: 100%;
    height: 50px;

    z-index: 20;

    position: fixed;
    bottom: -100px;
    transition: 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: whitesmoke;

    border-top: 1px solid lightgrey;
}

.navbar_content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 70vw;
    max-width: 1240px;
  }

.play_pause_button {
    border: none;
}

.volume_controls{
  width: 2em;
}

    .volume_button{
      font-size: 1.5em;
      color: black;

      cursor: pointer;
    }

    .volume_slider_container{
      display: flex;
      justify-content: center;
      align-items: center;

      display: none;

      transform: rotate(-90deg) translate(120px, -95px);

      width: 200px;
      height: 30px;

      background-color: #f2f2f2;
      background-color: white;

      border: 1px solid lightgray;

      position: absolute;
    }
        .volume_slider{
          width: 90%;
          height: 1px;

          outline: none;
          background: linear-gradient(
            to right,
            #fd3700 100%,
            #fd3700 100%,
            grey 0%,
            grey 0%
          );
        -webkit-appearance: none;
        }

        .volume_slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 10px;
          width: 10px;
          border-radius: 5px;
          transition: all 250ms ease-in;

          background: #fd3700;
          cursor: pointer;
          margin-top: -0.01px;
        }

.currentTime {
    color: #fd3700;
}

.progressbar {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;

    height: 10px;
    width: 10px;

    border-radius: 5px;
    transition: all 250ms ease-in;

    cursor: pointer;
    /* margin-top: -0.01px; */

    background: transparent;
}

#slider::-webkit-slider-thumb:hover {
    -webkit-appearance: none;

    height: 10px;
    width: 10px;
    border-radius: 5px;

    background: #fd3700;
}
#slider {
    width: 80%;
    height: 1px;
    outline: none;

    background: linear-gradient(
        to right,
        #fd3700 0%,
        #fd3700 0%,
        grey 0%,
        grey 100%
    );
    -webkit-appearance: none;
}

.navbar_song_data {
    height: 100%;
    width: fit-content;

    display: flex;
    justify-content: flex-end;
}
.album_cover_container {
    height: 100%;

    display: flex;
    align-items: center;
}
.album_cover {
    height: 45px;
}
.name_and_artist {
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-size: 13px;
}
.songName {
    color: #999;
    cursor: pointer;
}
.songName:hover {
    color: black;
}
.artist {
    color: #666;
}
