.content {
    padding-top: 0;
    padding: 0 30px;
    width: 1180px;
    margin: 0 auto;
}

.tracks {
    padding-bottom: 10px;
    /* height: 600px; */
}

.tracks__title {
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

.container {
    margin-right: -20px;
}

.ulist {
    /* display: flex; */
    /* flex-flow: wrap row; */
    /* justify-content: space-evenly; */
    /* list-style-image: initial; */
    list-style: none;
    margin: 0;
    padding: 0;
}

.list {
    /* display: flex; */
    /* justify-content: space-around; */
    padding-right: 20px;
    width: 16.666%;
    box-sizing: border-box;
    float: left;
    height: 256px;
}
