.content {
    padding-top: 0;
    padding: 0 30px;
    width: 1180px;
    margin: 0 auto;
}

.list {
    padding-right: 20px;
    width: 16.666%;
    box-sizing: border-box;
    float: left;
    display: list-item;
}

.ulist {
    list-style-image: initial;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    margin-right: -20px;
}

.tracks {
    /* display: block; */
    padding-bottom: 10px;
}
