:root {
    --body-width: 100%;
    --body-height: 100%;
}

body {
    background: #f2f2f2
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABNgAAABkAQMAAABuPx8iAAAAA1BMVEX///+nxBvIAAAAJUlEQVR4Xu3AMQEAAADCIPunNsYeWAQAAAAAAAAAAAAAAAAAAOA88AABMGQBNwAAAABJRU5ErkJggg==)
        repeat-y 50% 0;
    font: 12px/1.4 Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda,
        Verdana, Tahoma, sans-serif;
    color: #333;
    /* below attribute (position: relative) should NOT be global! */
    position: relative;
    margin: 0;
    top: 50px;
    width: var(--body-width);
    height: var(--body-height);
}

a,
a:active,
a:visited {
    text-decoration-color: initial;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Interstate, Lucida Grande, Arial, sans-serif;
    line-height: 1.3;
    margin: 18px 0 0;
}
