.SongPage_body {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.Song_banner_outercontainer {
   width: 100%;
}

.SongPage_body fieldset {
   width: 70vmax;
   height: fit-content;
   border: none;
   align-self: center;
}

.BannerComponent {
   width: 100%;
   height: 100%;
}


.block {
   margin: 40px auto;
   text-align: center;
   width: 100%;
   height: 20%;

   font-size: 1.2em;
}
