.container {
    /* display: flex;
    justify-content: center; */
    margin: 5px;
    padding: 20px;
    width: 400px;
    height: 500px;
    border: hotpink 1px solid;
}

.picture {
    display: block;
    background: center;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.picture__container {
    display: flex;
    justify-content: center;
}
