:root {
   --main-bg-color: linear-gradient(to right, hsl(0, 0%, 0%), hsl(0, 10%, 10%));
   --main-text-color: hsl(0, 0%, 100%);
   --secondary-text-color: hsl(0, 0%, 60%);
   --text-bg-color: hsla(0, 0%, 20%, 0.678);
   --secondary-bg-color: hsl(20, 100%, 50%);

   --date-top-margin: 0;
   --date-right-margin: 203px;

   --banner-height: 202.97px;
   --album-cover-image-width: 172.97px;
   --album-cover-image-height: 172.97px
}

.Song_body {
   top: 2rem;
   padding: 0 10px;
}

.Album_Cover_image {
   width: var(--album-cover-image-width);
   height: var(--album-cover-image-height);
}

.Song_banner__outercontainer {
   display: flex;
   background-image: var(--main-bg-color);
}

.Song_banner__container {
   display: flex;
   border: 0;
   height: var(--banner-height);
   align-items: center;
}

.Song_upload_date__container {
   top: var(--date-top-margin);
   right: var(--date-right-margin);
   position: absolute;
   color: var(--secondary-text-color);
}

.Song_banner__innercontainer {
   border: 0;
   display: flex;
   flex-direction: column;
   background-image: var(--main-bg-color);
}

.Song_uploader {
   margin: 0;
   color: var(--secondary-text-color);
   text-indent: .2rem;
}

.Song_name {
   text-indent: 1rem;
   font-weight: bold;
   color: var(--main-text-color);
}

.play_btn__container {
   margin: 15px;
   border-radius: 50%;
   width: 1rem;
   height: 1rem;
}
