.waveformContainer {
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
}

.wavePoint {
	display: flex;
	flex: 1;
  background-color: #fd1100;
	background-color: #fd5d00;
  background-color: #fdd2b9;


  /* blend of gradient */
  background-color: #FD3700;
  /* use for the filled in bottom */
  background-color: #ffc5b5;

  /* Highlighted */
	background-color: #aa3e00;
}
