.addComment_container {
   display: flex;
   justify-content: flex-start;
   height: 2.67vh; /*smaller to make banner smaller larger to make banner bigger*/
   width: 20vw;
   margin-left: 20vw;
}
.profileImage__container {
   box-sizing: border-box;
   align-self: flex-start;
   position: absolute;
   background-color: blue;
   margin-left: 2vw;
   height: 4vh;
   width: 4vw;
}
.formField {
   display: flex;
   width: 10vw;
   height: 5vh;
}
.inputField {
   margin-left: 5vw;
   padding-right: 10vw;
   font-size: 16px;
   height: 11px;
   width: 30vw;
   background-color: #f2f2f2be;
   border-color: gray;
}
.inputField:focus {
   background-color: #f2f2f2;
}
