:root {
   --comments-bg-color: hsla(0, 0%, 95%, 0.745);
   --input-bg-color: #f2f2f2;
}


.addComment_container {
   font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
   top: 1rem;
   text-align: right;
   width: 86vmax;
   display: flex;
   justify-content: center;
   margin-left: 2rem;
}

.addComment_innercontainer {
   width: fit-content;
}

.addComment_innercontainer form {
   background-color: var(--comments-bg-color);
}

.addComment_innercontainer fieldset {
   width: 90%;
   height: 100%;
   display: flex;
}

.addComment_innercontainer fieldset>legend {
   position: relative;
   top: 1rem
}


.profileImage__container {
   width: 55px;
   height: 55px;
   background-image: linear-gradient(to right, hsl(29, 100%, 51%), hsl(0, 10%, 10%));
   position: relative;
   /* top: 0; */
}


.inputField__container {
   width: 90%;
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
}

.inputField__container input {
   width: 95%;
   text-align: left;
}

.inputField:focus {}
